<div class="container text-center">
<div class="col-md-8 col-md-offset-2">

<%= simple_form_for @post do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>
<%= link_to "Back", root_path %>
</div>
</div>