<div class="container text-center">
<div class="col-md-8 col-md-offset-2">

<%= simple_form_for @post do |f| %>
  <%= f.input :title, label: "Tytuł" %>
  <%= f.input :description, label: "Opis" %>
  <%= f.button :submit %>
<% end %>
<%= link_to "Wróć", root_path %>
</div>
</div>