<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<div class="post-show">
			<h2><%= @post.title %></h2>
				<p class="post-posted-by">Utworzone przez <%= @post.user.email %> <%= time_ago_in_words(@post.created_at) %> ago</p>
				<p class="post-desc"><%= @post.description %></p>
					<% if @post.image.file? %>
						<%= image_tag @post.image.url(:large) %>
					<% else %>
						Brak Zdjęcia
					<% end %>
					<br/>


				<h3>Komentarze</h3>
					<%= render @post.comments %>

				<h3>Zostaw Komentarz</h3>
					<%= render 'comments/form' %>
				
			<div class="caption" style="text-align:left;">
				<%= link_to like_post_path(@post), class: "like", method: :put do %>
				<button type="button" class="btn btn-info" aria-label="Left Align">
				<span class="fa fa-thumbs-up fa-align-left" aria-hidden="true"></span>
				<span class="badge"><%= @post.get_upvotes.size %></span>
				</button>
			<% end %>


			<%= link_to unlike_post_path(@post), class: "unlike", method: :put do %>
			<button type="button" class="btn btn-info" aria-label="Left Align">
			<span class="fa fa-thumbs-down fa-align-left" aria-hidden="true"></span>
			<span class="badge"><%= @post.get_downvotes.size %></span>
			</button>
			<% end %>
			</div><br>

			<div class="links btn-group">
				<%= link_to "Wróć", home_path, class: "btn btn-default" %>
					<% if user_signed_in? %>
						<% if @post.user_id == current_user.id %>
							<%= link_to "Edytuj", edit_post_path(@post), class: "btn btn-default" %>
							<%= link_to "Usuń", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
						<% end %>
					<% end %>
			</div>
		</div>
	</div>
</div>

<%= render 'alerts' %>