<!DOCTYPE html>
<html>
  <head>
    <title>Motocross</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

	<nav class="navbar navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<strong><%= link_to "Motocross", root_path, class: "navbar-brand" %></strong>
		</div>
			<ul class="navbar-nav nav">
				<li><%= link_to "Zarejestruj", new_user_registration_path %></li>
				<% if user_signed_in? %>
					<li><%= link_to "Wyloguj", destroy_user_session_path, method: :delete %></li>
				<% else %>	
					<li><%= link_to "Zaloguj", new_user_session_path %></li>
				<% end %>
					<li><%= link_to "Posty", home_path %></li>
			 <% if user_signed_in? %>
       </ul>
       <ul class="navbar-nav nav pull-right"> 
				<li><%= link_to "Nowy Post", new_post_path %></li>
				</ul>
			 <% end %>
		</div>
	</nav>     

  <nav class="navbar navbar-fixed-bottom">
    <div class="container">
      <br/>
      <p class="text-center fa-1x">
        kondziqq17
        <a href="https://github.com/kondziqq17/Motocross-blog" style="color:#000000">
          <%= icon("github-square fa-2x") %>
        <a href="https://pl.linkedin.com/in/konrad-pasoń-a3bb6b116" style="color:#000000">
          <%= icon("linkedin-square fa-2x") %>
        </a>
      </p>
    </div>
  </nav>




    <%= yield %>
  </body>
</html>
