<!DOCTYPE html>
<html>
  <head>
    <title>Motocross</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<%= link_to "Motocross", root_path, class: "navbar-brand" %>
			</div>
			<ul class="navbar-nav nav">
				<li><%= link_to "Zarejestruj", new_user_registration_path %></li>
				<% if user_signed_in? %>
					<li><%= link_to "Wyloguj", destroy_user_session_path, method: :delete %></li>
				<% else %>	
					<li><%= link_to "Zaloguj", new_user_session_path %></li>
				<% end %>
					<li><%= link_to "Posty", home_path %></li>
			</ul>
			<% if user_signed_in? %>
				<p><%= link_to "Nowy Post", new_post_path, class: "navbar-text navbar-link navbar-right" %></p>
			<% end %>
		</div>
	</nav>



    <%= yield %>
  </body>
</html>
